*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
      background-color: #f9f6f2;
}
.card-img-top{
  border-radius: 50px;
  padding: 20px;
}
.card{
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.card-body{
  padding: 25px;
  margin-top: -15px;
}
.btn-primary{
  border-radius: 50px;
  width: 120px;
}
.btn-primary:hover{
  background-color: black;
  border: none;
}
/* h3,h5{
  color: rgb(0, 91, 228);
} */

.xd {
  width: 100%;
}

.input-error {
  border: 1px solid red !important;
}

.input-filled {
  border: 1px solid green !important;
}

.list-group-item-action {
  cursor: pointer;
}

#calendar {
  max-width: 990px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}